@model Agrokultura.Models.GoodsType

@{
    ViewData["Title"] = "Create";
}

<div class="row row-udpate_create mx-auto">
    <div class="col-md-6 mx-auto col-update_create">
        <h1>Create a new GoodsType</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group  form-group-update_create">
                <label asp-for="Name" class="control-label">Name:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group  form-group-update_create">
                <label asp-for="Quantity" class="control-label">Quantity:</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group  form-group-update_create">
                <label asp-for="MeasurementUnit" class="control-label">Measurement Unit:</label>
                <select asp-for="MeasurementUnit" class="form-control">
                    <option value="kg">kg</option>
                    <option value="piece">Piece</option>
                </select>
                <span asp-validation-for="MeasurementUnit" class="text-danger"></span>
            </div>
            <div class="form-group submit-update_create me-auto">
                <input type="submit" value="Create" class="btn" />
            </div>
        </form>
        <div class="btn back-to-list">
            <a asp-action="Index">Back</a>
        </div>
    </div>
</div>
