@model Agrokultura.Models.GoodsType

@{
    ViewData["Title"] = "Details";
}

<div class="row row-udpate_create mx-auto">
    <div class="col-md-6 mx-auto col-update_create">
        <h1>Detalji vrste dobra</h1>

        <dl class="row form-group-update_create">
        <dt class="col-sm-4">
            Naziv
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-4">
            Količina
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-4">
            Mjerna jedinica
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.MeasurementUnit)
        </dd>

        </dl>
        <div class="btn edit-data-btn">
            <a asp-action="Edit" asp-route-id="@Model?.Id">Uredi</a>
        </div>
        <div class="btn back-to-list">
            <a href="javascript:history.back()">Natrag</a>
        </div>
    </div>
</div>