<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Agrokultura</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
	<link href="~/css/delete.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Agrokultura.styles.css" />
    <link rel="stylesheet" href="~/css/create_update.css" />
    <link href="~/css/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Agrokultura.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/f4a15ba672.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="~/css/home.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
   
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm nav-costum  ">
            <div class="container-fluid" style="margin:auto; padding:0;">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Agrokultura</a>
                <button class="navbar-toggler expand-button-costum btn" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa-solid fa-bars fa-lg icon-menu-custom" style="color: #4c7141"></i></span>
                </button>


                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav nav  nav-left flex-grow-1 ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-costum" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Biljke
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="nav-link  dropdown-item" asp-area="" asp-controller="Plants" asp-action="Index">Biljke</a>
                                <a class="nav-link  dropdown-item" asp-area="" asp-controller="PlantTypes" asp-action="Index">Vrsta biljke</a>
                                <a class="nav-link  dropdown-item" asp-area="" asp-controller="GoodsTypes" asp-action="Index">Vrsta dobara</a>
                                <a class="nav-link dropdown-item" asp-area="" asp-controller="PlantPassports" asp-action="Index">Biljna putovnica</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-costum" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Zemlja
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="nav-link dropdown-item" asp-area="" asp-controller="Plots" asp-action="Index">Parcele</a>
                                <a class="nav-link dropdown-item" asp-area="" asp-controller="Grounds" asp-action="Index">Tla</a>
                                <a class="nav-link dropdown-item" asp-area="" asp-controller="Terrains" asp-action="Index">Tereni</a>
                                <a class="nav-link dropdown-item" asp-area="" asp-controller="Cities" asp-action="Index">Grad</a>
                                <a class="nav-link dropdown-item" asp-area="" asp-controller="Countries" asp-action="Index">Država</a>
                                <a class="nav-link dropdown-item" asp-area="" asp-controller="Contracts" asp-action="Index">Ugovori</a>
                                <a class="nav-link dropdown-item" asp-area="" asp-controller="ContractPlots" asp-action="Index">Ugovori za parcele</a>
                            </div>
                        </li>
                    </ul>
                </div>



                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class=" nav navbar-nav navbar-right flex-grow-1 me-auto justify-content-end">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-costum" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Osobe
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="nav-link dropdown-item" asp-area="" asp-controller="People" asp-action="Index">Ljudi</a>
                                <a class="nav-link dropdown-item" asp-area="" asp-controller="Roles" asp-action="Index">Uloge</a>
                                <a class="nav-link dropdown-item" asp-area="" asp-controller="Chores" asp-action="Index">Poslovi</a>
                                <a class="nav-link dropdown-item" asp-area="" asp-controller="ChorePersons" asp-action="Index">Poslovi i njihovi izvršitelji</a>
                                <a class="nav-link dropdown-item" asp-area="" asp-controller="ChoreStatus" asp-action="Index">Statusi poslova</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-costum" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Narudzbe
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="nav-link dropdown-item" asp-area="" asp-controller="Orders" asp-action="Index">Narudžbe</a>
                                <a class="nav-link dropdown-item" asp-area="" asp-controller="OrderStatus" asp-action="Index">Status narudžbe</a>
                                <a class="nav-link dropdown-item" asp-area="" asp-controller="IncomeAndExpenses" asp-action="Index">Prihodi i rashoodi</a>

                            </div>
                        </li>



                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Agrokultura - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

</body>
</html>
