@model Agrokultura.Models.Plant

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Plant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          @*  <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubspeciesName" class="control-label"></label>
                <input asp-for="SubspeciesName" class="form-control" />
                <span asp-validation-for="SubspeciesName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountOfGoods" class="control-label"></label>
                <input asp-for="AmountOfGoods" class="form-control" />
                <span asp-validation-for="AmountOfGoods" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlantTypeId" class="control-label"></label>
                <select asp-for="PlantTypeId" class ="form-control" asp-items="ViewBag.PlantTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GoodsTypeId" class="control-label"></label>
                <select asp-for="GoodsTypeId" class ="form-control" asp-items="ViewBag.GoodsTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturerId" class="control-label"></label>
                <select asp-for="ManufacturerId" class ="form-control" asp-items="ViewBag.ManufacturerId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

