@model Agrokultura.Models.City

@{
    ViewData["Title"] = "Edit";
}

<div class="row row-udpate_create mx-auto">
    <div class="col-md-6 mx-auto col-update_create">
        <h1>Uredite grad: @Model.Name</h1>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group form-group-update_create">
                <label asp-for="Name" class="control-label">Naziv: </label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group  form-group-update_create">
                <label asp-for="PostalCode" class="control-label">Poštanski broj: </label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group  form-group-update_create">
                <label asp-for="CountryId" class="control-label">Država: </label>
                <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId"></select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group submit-update_create me-auto">
                <input type="submit" value="Uredi!" class="btn" />
            </div>
        </form>
        <div class="btn back-to-list">
            <a asp-action="Index">Natrag</a>
        </div>
    </div>
</div>


