@model Agrokultura.Models.IncomeAndExpense

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>IncomeAndExpense</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PlotId" class="control-label"></label>
                <select asp-for="PlotId" class="form-control" asp-items="ViewBag.PlotId"></select>
                <span asp-validation-for="PlotId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlantId" class="control-label"></label>
                <select asp-for="PlantId" class="form-control" asp-items="ViewBag.PlantId"></select>
                <span asp-validation-for="PlantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountOfPlants" class="control-label"></label>
                <input asp-for="AmountOfPlants" class="form-control" />
                <span asp-validation-for="AmountOfPlants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfPlanting" class="control-label"></label>
                <input asp-for="DateOfPlanting" class="form-control" />
                <span asp-validation-for="DateOfPlanting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDateOfPlanting" class="control-label"></label>
                <input asp-for="EndDateOfPlanting" class="form-control" />
                <span asp-validation-for="EndDateOfPlanting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountOfGoods" class="control-label"></label>
                <input asp-for="AmountOfGoods" class="form-control" />
                <span asp-validation-for="AmountOfGoods" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

